.worlds-between .banner {
    background-color: #808080;
    background: no-repeat center center;
    background-size: cover;
    position: relative;
    padding-top: 20rem;
}

.worlds-between .overlay {
    background: linear-gradient(to bottom, transparent 60%, var(--color-bg-primary) 100%);
    position: absolute;
    inset: 0;
}
